<hello name="{{ name }}"></hello>
<p>Start editing to see some magic happen :)</p>
<button routerLink="/home">Home</button>
<button routerLink="/user">User</button>
<button (click)="goToItems()">User Relative to</button>
<button routerLink="/user-details">User Details</button>
<button routerLink="/books">Books</button>
<button
  [routerLink]="[
    'mailbox',
    'inbox',
    '44',
    'messages',
    '33',
    { outlets: { popup: ['compose'] } }
  ]"
>
  Mailbox
</button>
<button [routerLink]="['/mailbox/inbox/44/messages/33(popup:compose)']">
  Mailbox2
</button>
<button
  [routerLink]="[
    { outlets: { primary: 'mailbox/inbox/33/messages/44', popup: 'compose' } }
  ]"
>
  Mailbox3
</button>
<a [routerLink]="['/', { outlets: { popup: ['compose'] } }]">Popup</a>
||
<a
  [routerLink]="[
    '/',
    { outlets: { popup: ['compose'], message: ['personnal-message'] } }
  ]"
  >Popup with message</a
>
||
<a [routerLink]="['/user-details', { outlets: { popup: ['compose'] } }]"
  >Popup in user deails</a
>
<p>
  <code>
    https://angular-ivy-djdqxe.stackblitz.io/mailbox/inbox/44;id=5/messages/33(popup:compose)
    https://angular-ivy-djdqxe.stackblitz.io/mailbox/inbox;a=v1/33;b1=v1;b2=v2/messages?token=2233
    https://angular-ivy-djdqxe.stackblitz.io/mailbox/inbox(popup:compose//message:personnal-message)
    https://angular-ivy-djdqxe.stackblitz.io/mailbox/inbox/33/(messages/44//popup:compose)
    https://angular-ivy-djdqxe.stackblitz.io/mailbox/inbox/33/messages/44
  </code>
  <!-- <button routerLink="/user-details/address">Addresse</button>
<button routerLink="/user-details/phone">Téléphone</button> -->
</p>

<p></p>
<router-outlet></router-outlet>
<p>
  popupOutlet
  <router-outlet name="popup"></router-outlet>
</p>
<p>
  MessageOutlet
  <router-outlet name="message"></router-outlet>
</p>
