<hello name="{{ name }}"></hello>
<p>Start editing to see some magic happen :)</p>
<button routerLink="/home">Home</button>
<button routerLink="/user">User</button>
<button (click)="goToItems()">User Relative to</button>
<button routerLink="/user-details">User Details</button>
<button routerLink="/books">Books</button>
<button routerLink="/mailbox">Mailbox</button>
<a [routerLink]="['/', { outlets: { popup: ['compose'] } }]">Popup</a>
||
<a
  [routerLink]="[
    '/',
    { outlets: { popup: ['compose'], message: ['personnal-message'] } }
  ]"
  >Popup with message</a
>
||
<a [routerLink]="['/user-details', { outlets: { popup: ['compose'] } }]"
  >Popup in user deails</a
>
<!-- <button routerLink="/user-details/address">Addresse</button>
<button routerLink="/user-details/phone">Téléphone</button> -->
<p></p>
<router-outlet></router-outlet>
<!-- <router-outlet name="popup"></router-outlet> -->
<router-outlet name="message"></router-outlet>
